.text-field{
  width: 850px;
  height: 150px;
  font-size: 40px;
}
 
 .key-board-wrapper {
   background: #999;
   border-radius: 4px;
   color: #555;
   display: flex;
   flex-wrap: wrap;
   font: bold 16px Helvetica, Arial;
   margin: 10px 15px 25px 0;
   padding: 8px;
   position: relative;
   width: 840px;

 }

 
 .key {
   background: -moz-linear-gradient(left, #CCC 0%, #D8D8D8 20px, #E5E5E5 35px, #FAFAFA 100%);
   background: -webkit-linear-gradient(left, #CCC 0%, #D8D8D8 20px, #E5E5E5 35px, #FAFAFA 100%);
   border: 6px solid transparent;
   border-width: 5px 5px 8px 6px;
   border-image: -moz-linear-gradient(top, #999 0%, #BBB 45%, #BBB 55%, #CCC 95%, #DDD 100%) 49%;
   border-image: -webkit-linear-gradient(top, #999 0%, #BBB 45%, #BBB 55%, #CCC 95%, #DDD 100%) 49%;
   box-shadow: 3px -5px 6px rgba(100, 100, 100, 0.6), -4px -4px 6px rgba(100, 100, 100, 0.4), 4px -2px 5px rgba(100, 100, 100, 0.5);
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
   cursor: pointer;
   display: inline-block;
   height: 60px;
   margin: 1px 0;
   position: relative;
   vertical-align: top;
   width: 54px;
   text-align: center;
   line-height: 50px;
   -webkit-user-select: none;
 
 }
 
 .key:hover{
  background: rgba(188, 188, 188, 0.9);

 }
 .key.active {
  background: -moz-linear-gradient(left, #C8C8C8 0%, #D8D8D8 20px, #E5E5E5 35px, #FAFAFA 100%);
  background: -webkit-linear-gradient(left, #C8C8C8 0%, #D8D8D8 20px, #E5E5E5 35px, #FAFAFA 100%);
  box-shadow: 1px -3px 6px rgba(100, 100, 100, 0.6), -3px -3px 6px rgba(100, 100, 100, 0.3), 4px -2px 6px rgba(100, 100, 100, 0.3);
  top: 1px;
}
.key:active {
  background: -moz-linear-gradient(left, #C8C8C8 0%, #D8D8D8 20px, #E5E5E5 35px, #FAFAFA 100%);
  background: -webkit-linear-gradient(left, #C8C8C8 0%, #D8D8D8 20px, #E5E5E5 35px, #FAFAFA 100%);
  box-shadow: 1px -3px 6px rgba(100, 100, 100, 0.6), -3px -3px 6px rgba(100, 100, 100, 0.3), 4px -2px 6px rgba(100, 100, 100, 0.3);
  top: 1px;
}
.backspace-key{
   width: 137px;
}
.tab-key{
   width: 83px;
}
.width83{
   width: 83px;
}
.caps{
   width: 95px;
}
.enter{
   width: 96px;
}
.shift{
   width: 123px;
}
.ctrl{
   width: 108px;

}
.space{
   width: 231px;
}
.up .key-value{
   transform: rotate(-90deg);
   top: 30%;
   left: 25%;
}
.left .key-value{
   transform: rotate(180deg);
   top: 30%;
   left: 25%;
}
.bottom .key-value{
   transform: rotate(90deg);
   top: 30%;
   left: 30%;
}
.lang{
  width: 69px;
}